@model IEnumerable<PSI.TI.GestaoEscolar.Application.ViewModels.DisciplinaViewModel>

<div id="Target">
    <partial name="_ListaDisciplinas" />
</div>

<p>
    <a class="btn btn-info" asp-action="Cadastrar" data-modal="">Novo</a>
</p>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>
}