@model IEnumerable<PSI.TI.GestaoEscolar.Application.ViewModels.TurmaViewModel>

@{
    ViewData["Title"] = "Turmas";
}

<h2 style="padding-top: 2%">@ViewData["Title"]</h2>
<hr />

<div id="Target">
    <partial name="_ListaTurmas" />
</div>

<p>
    <a class="btn btn-info" asp-action="Cadastrar" data-modal="">Nova</a>
</p>

<div id="myModal" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="myModalContent"></div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            AjaxModal();
        });
    </script>
}